DATABASE_URL=postgres://postgres:password@postgres:5432/todolist?sslmode=disable
LOCAL_DATABASE_URL=postgres://postgres:password@localhost:5432/todolist?sslmode=disable
POSTGRES_PASSWORD=password
POSTGRES_DB=todolist